*~
.DS_Store
.emacs.d/auto-save-list
.emacs.d/.cask
.emacs.d/ac-comphist.dat
.emacs.d/tramp
.emacs.d/recentf
.emacs.d/tutorial
.emacs.d/ensime/
.emacs.d/bookmarks
.emacs.d/local.el
.emacs.d/semanticdb/

.sbt/boot/
.sbt/0.13/target/
.sbt/0.13/plugins/*
!.sbt/0.13/plugins/plugins.sbt
