*~
*.swp

.DS_Store
.emacs.d/auto-save-list
.emacs.d/.cask
.emacs.d/ac-comphist.dat
.emacs.d/tramp
.emacs.d/recentf
.emacs.d/tutorial
.emacs.d/ensime/
.emacs.d/bookmarks
.emacs.d/local.el
.emacs.d/semanticdb/
.emacs.d/target/
.emacs.d/elpa/
.emacs.d/network-security.data

.vim/

.sbt/boot/
.sbt/launchers/
.sbt/ghpages/
.sbt/0.13/target/
.sbt/0.13/plugins/target
.sbt/0.13/plugins/project
.sbt/0.13/local.sbt
.sbt/0.13/templates/
.sbt/0.13/staging

.sbt/1.0/staging/
.sbt/1.0/target/
.sbt/1.0/templates/
.sbt/1.0/zinc/
.sbt/1.0/plugins/target/
.sbt/1.0/plugins/project/
.sbt/preloaded/

.ammonite/history
.ammonite/cache
