*~
.emacs.d/auto-save-list
.emacs.d/.cask
.emacs.d/ac-comphist.dat
.emacs.d/tramp
.emacs.d/recentf
.emacs.d/tutorial
.emacs.d/ensime/
.emacs.d/bookmarks
.emacs.d/local.el
.emacs.d/semanticdb/
.emacs.d/target/