[user]
	useConfigOnly = true
[include]
    path = ~/.gitconfig.local
[alias]
    co = checkout
    st = status
    br = branch
    b  = branch
    di = diff
    d  = diff
    cp = cherry-pick
    pushf = push --force-with-lease
    pr = !"f() { git fetch -fu ${2:-upstream} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
	pr-clean = !"git checkout master ; git for-each-ref refs/heads/pr/* --format=\"%(refname)\" | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
    pr-pull = !"f() { git checkout pr/$1; git pull upstream pull/$1/head; }; f"
[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
[pull]
    #ff = only
[merge]
    conflictstyle = diff3
[diff]
    compactionHeuristic = true
[ghq]
    root = ~/dev/src
